body {
    color: #111111;
    font-family: 'Lato',sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}


/*----- Accordions ------*/




				div.accordion h3, div.suggest-priority h4 {
					
					border: solid 2px;
					border-color: #E3E3E3;
					border-radius: 4px 4px 4px 4px;
					height: 60px;
					min-width: 600px;
				    margin-bottom: 0;
				}

				div.accordion h3:hover {
				    background-color: rgb(242,242,242);
				}

				div.accordion ul{
				    border-style: none solid solid;
				    border-width: medium 2px 2px;
				    border-color: #E3E3E3;
				    min-width: 500px;
				    margin-top: 0px; 
				    padding-top: 18px; 
				    padding: 18px 65px 18px 75px;
				    line-height: 26px;
				}

				div.accordion ul li{
					font-size: 1.2em;
				    list-style: none outside none;
				    
				 }


				div.accordion ul li a{
				    color: #000000;
				    font-weight: 300;
				    text-decoration: none;
				   
				}

				div.accordion ul li a:hover{
				    color:#CCCCCC !important;
				    
				}



				.box {
					border-radius: 4px 4px 4px 4px;
				    cursor: pointer;
				    display: block;
				    float: left;
				    font-weight: 300;
				    height: 60px;
				    width: 60px;
				    margin-top: 0;
				    background-size: 40px 40px;
				    background-repeat: no-repeat;
				    background-position: center;
				}

				.widget_logo{

					display: block;
					margin-top: 20px;
					margin-right: auto;
					margin-left: auto;
					width: 240px;
				}

				.vote-header-wrap {
				    background-color: #4A4A4A;
				    border-radius: 3px 3px 3px 3px;
				    box-shadow: 0 2px 10px #999999;
				    color: #FFFFFF;
				    font-size: 24px;
				    font-weight: 300;
				    line-height: 24px;
				    margin: auto;
				    padding: 20px;
				    text-align: center;
				    min-width: 580px;
			    }

				.arrow-up{
				    
				    background-image: url('../icons/up_arrow.png');
				    
				}

				.arrow-down{
				     background-image: url('../icons/down_arrow.png');
				} 

				.plus-sign{
					background-image: url('../icons/plus.png');
				}

				.minus-sign{
					background-image: url('../icons/minus.png');
					width: 40px; 
					height: 10px; 
					padding-left: 0px; 
					margin-top: 25px; 
					border-left-width: 0px; 
					margin-left: 10px;
					margin-right: 10px;
				}


				div.accordion h3 .check-wrap {
				    border-left: 2px solid #E3E3E3;
				    display: block;
				    float: right;
				    font-weight: 300;
				    height: 60px;
				    width: 60px;
				    background-size: 40px 40px;
				    background-repeat: no-repeat;
				    background-position: center;
				    
				}
      
      			div.accordion h3 .check-value {
				    display: none;
				    font-weight: 300;
				}

				.checked-off{
					background-image: url('../icons/check-off.png');
				}
				
				.checked-on{
					background-image: url('../icons/check-on.png');
				}				


				.color-blue {
				  background-color: #2DA9E1
				}

				.color-green{
				  background-color: #71BE45
				}

				.color-yellow{
				background-color: #FCB749
				}


				div.accordion h3 a , div.suggest-priority h4 a{
				    color: #000000;
				    display: block;
				    float: left;
				    font-size: 1.2em;
				    font-weight: 300;
				    line-height: 26px;
				    outline: medium none;
				    overflow: hidden;
				    padding: 17px 15px 0;
				    text-decoration: none;
				    word-wrap: break-word;
				}

				#priority-item-content-wrap {
				    -moz-border-bottom-colors: none;
				    -moz-border-left-colors: none;
				    -moz-border-right-colors: none;
				    -moz-border-top-colors: none;
				    background-color: #FFFFFF;
				    border-color: -moz-use-text-color #E3E3E3 #E3E3E3;
				    border-image: none;
				    border-right: 2px solid #E3E3E3;
				    border-style: none solid solid;
				    border-width: medium 2px 2px;
				    font-weight: 300;
				    margin-bottom: 5px;
				    padding: 10px;
				    text-align: center;
				}

				#priority-item-content {
				    border: 1px solid #E3E3E3;
				    color: #111111;
				    font-family: 'Lato',sans-serif;
				    font-size: 18px;
				    font-weight: 300;
				    height: 200px;
				    max-width: 100%;
				    padding: 5px;
				    width: 98%;
				}

